body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading{
	background-color:tomato;
	text-align:center;
	font-weight:bold;
	color:white;
	margin-left:10px;
	margin-right:10px;
}
#gallery{
	margin-left:300px;
	display:flex;
}
#image{
	margin-left:10px;
}

#cardhover:hover{
	color:red;


}

#lotteryheading{
	background-color:#37419A;
	text-align:center;
	color:white;

}
.lotterybut{
	
	width:50px;
	height:50px;
	font-weight:bold;
	font-size:20px;
	color:blue;
	margin-left:10px;
	margin-top:10px;	
}
.move{
	text-align: center;
	background-color:skyblue;
}
.todobackground{
	background-color:tomato;
}
.todomaindiv{
	border-radius:15px;
	margin-left:30%;
	width:30%;
	background-color:#f4f4f4;
	margin-top:10%;
	
	text-align: center;
	box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
}
.todoheading{
	background-color:#8566aa;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
	color:white;
}
.todoinput{
	background:transparent;
	border:none;
	border-bottom: 2px solid #8566aa;
	outline: none;
	width:60%;
	height:20px;
	font-size:20px;
}
.todoaddbutton{
	text-align: center;
	border:none;
	border-radius: 50%;
	outline:none;
	background:transparent;
	background-color:#8566aa;
	color:white;
	width:40px;
	height:40px;
	margin-left:20px;

}
.todoaddbutton:hover{
	background-color:green;
}

.todool{
	margin-top:30px;
	list-style-type:none;
	text-align: left;
	color:#8566aa;
}
.todoli{
	margin-top:10px;
}
.crossbutton{
	border:none;
	outline: none;
	background-color:#8566aa; 
	border-radius:50%;
	color:white;
	width:23px;
	text-align: center;

}
.crossbutton:hover{
	background-color:crimson;
}
.idgamebutton{
	background-color: darkblue;
	outline:none;
	border:none;
	color:white;
	box-shadow:  5px 5px 15px -5px rgba(0,0,0,0.3);
	width:100px;
	margin-left:10px;
	border-radius:5px; 
	height:50px;
}

#buttadd{
	box-shadow:  5px 5px 15px -5px rgba(0,0,0,0.3);
}
#buttdec{
	box-shadow:  5px 5px 15px -5px rgba(0,0,0,0.3);
	margin-left:20px;
}
#buttadd:hover{
	color:green;

}
#buttdec:hover{
	color:crimson;

}

#noterheading{
	background-color:#17252A;
	color:skyblue;
	padding-left:40px;
	width:100%;


}

#noterinput{
	outline:none;
	border:none;
	background:transparent;
	margin-top:20px;
	border-bottom:2px solid black;
	color:white;
	height:25px;
	font-size: 20px;
	margin-left:15px;


}
#noterdiv{
	margin-left:30%;
	background-color:skyblue;
	width:500px;
	border-radius:15px;
	box-shadow:  5px 5px 15px -5px rgba(0,0,0,0.3);

}
#noternote{
	margin-top:20px;
	outline:none;
	border:none;
	border-bottom:2px solid black;
	background:transparent; 
	margin-left:15px;

}


.noteritem{
	background-color:#DEF2F1;
	width:200px;
	font-weight:bold;
	text-align: left;
	border:none;
	outline:none;
	box-shadow:  5px 5px 15px -5px rgba(0,0,0,0.3);
	border-radius: 15px;


}

.footer{
	position:fixed;
	bottom:0;
	margin-left:40%;
}
#delbut:hover{
	background-color: crimson;
};

.active_class:visited{
	color:yellow;


}

.searchinput{
	margin-left:50%;
	border:3px fixed;
	font-size:15px;

}
.movelink{
	font-weight:bold;
	border-bottom:2px solid black;
}

.getstarted{
	outline:none;
	background-color: dodgerblue;
	border-radius: 15px;
	color:white;
	border:none;
	transition:0.5s;
	padding-left:8px;
	padding-top:4px;
	padding-bottom:4px;
}
.getstarted:hover{
	background-color:skyblue;
};

#gifimage{
	margin-top:30px;

}
#form{
	
	
	
}

#formid{
	height:40px;
	margin-top:10px;
	width:100%;


}
#formidtextbox{
	height:80px;
	margin-top:10px;
	width:100%;


}

.Dfooter{
	margin-top:40%;
	color:white;
	font-size:13px;
}

#weatherdiv{
	margin-top:10%;
	border-radius:15px;
	background-color: #33495f;
	box-shadow:  5px 5px 15px -5px rgba(0,0,0,0.3);
	
}
	

#weatherinput{
	margin-top:2%;
	margin-left:17%;
	border-radius:15px;
	outline:none;


}
#weatherinput:hover{
	background-color:lightgrey;
}

#wave{
	margin-left:-30px;
}
#body{
	background-color:#0d1615;
}


/*#image{
	background-image: url('file:///D:/animated-weather-icons-5%20(2).gif');
}*/

#animatediv{
	width:10px; 
}

#lotterydiv{
	background-color:#891c22;
}

#lotterydiv{

	margin-top:10%;
	border-radius:15px;
	background-color: #891c22;
	box-shadow:  5px 5px 15px -5px rgba(0,0,0,0.3);
	
}
#lottery_button{
	color:#316d3a;
	margin-left:15px;
	margin-top:10px;
	background-color:#ead9bb;

}

#navbar_tab{
	color: white;
	margin-left: 6px;
	float:center;
	
}
#nav_search{
	border:none;
	outline:none;
	border-radius: 10px;
	width:300px;
	margin-top:6px;
}
#nav_search:hover{
	background-color:lightgrey;
}
#text_white{
	color:white;
}
#card_feel{
	
	margin-top:30px;
}
#card_feel:hover{
	opacity:0.8;
}

#Dcomment{
	outline:none;
	border:none;
	width:300px;
	height:100px;
}
#Dsendbut{
	background-color: pink;
	color:black;
}
#text_pink{
	color:#e32160;
}
.iconmargin{
	margin-left:10px;
}
.iconmargin:hover{
	background-color: pink;
}
.letusinput{
	outline:none;
	border:none;
	border-radius:4px;
	height:25px;
	padding:8px;
	box-shadow:  5px 5px 15px -5px white;
	background-color:pink;
	color:black;
	width:100%;
	margin-top:10px;
}
#formshadowdiv{
	box-shadow:  5px 5px 15px -5px white;
	margin-top:100px;
	text-align: center;

}
#letus_select{
	border-radius:4px;
	height:25px;
	box-shadow:  5px 5px 15px -5px white;
	background-color:pink;
	color:black;
	width:100%;
	margin-top:10px;

}
.image-upload>input {
  display: none;
}
#Dchatinput{
	position: fixed;
	bottom:0;
	float:left;
	outline:none;
	border:2px solid grey;
	border-radius:10px;
	width:60%;
	margin-left: 8px;
	padding-left:10px;
}
#Dchatmessage{
	background-color: skyblue;

}
.Dchatredbackground{
	background-image: url('https://cutewallpaper.org/21/best-red-wallpaper/Black-and-Red-Desktop-Wallpaper-77+-images-.jpg');
	background-repeat: no-repeat;
	overflow-y:scroll;
	background-attachment:fixed;
	background-position:center;
}
.Dchatgreenbackground{
	background-image: url('https://cutewallpaper.org/21/black-and-green-wallpaper-1920x1080/free-cool-Black-Green-Shards-chrome-extension-HD-wallpaper-.jpg');
	background-repeat: no-repeat;
	overflow-y:scroll;
	background-attachment:fixed;
	background-position:center;
}
.Dchatbackgroundblue{
	background-image: url('https://i.pinimg.com/originals/2a/a7/8a/2aa78a2c8fbe91b37bfed0fbb32fae82.jpg');
	background-repeat: no-repeat;
	overflow-y:scroll;
	background-attachment:fixed;
	background-position:center;
}
.Dchatbackgroundyellow{
	background-image: url('https://i.pinimg.com/originals/06/56/0a/06560a2b23e62eff0bdc62b4267bfc4c.jpg');
	background-repeat: no-repeat;
	overflow-y:scroll;
	background-attachment:fixed;
	background-position:center;
}
.Dchatbackgroundskyblue{
	background-image: url('https://www.xmple.com/wallpaper/gradient-blue-black-linear-2880x1800-c2-000000-00bfff-a-90-f-14.svg');
	background-repeat: no-repeat;
	overflow-y:scroll;
	background-attachment:fixed;
	background-position:center;
}
#selfhealdatadiv{
	overflow-y:scroll;
	color:white;
	height:650px;
	

}

#cardreliever{
	margin-top:20%;
	margin-left:10px;
	box-shadow:  5px 5px 15px -5px white;

}
#cardreliever:hover{
	width:350px;
}
#contributionprob{
	overflow-y:scroll;
	height:700px;
}
#contributionprob::-webkit-scrollbar {
    display: none;
}
#contribution_people{
	background-color:skyblue;
}
#contributeapp:hover{
	opacity:0.6;

}
#contributeapp{
	border-radius:10px;

}
#contributephoto{
	width:50px;
	height:50px;
	border-radius: 30px;
	transition:0.5s;
}
#contributephotoexpand{
	width:300px;
	height:250px;
	transition:0.5s;
}
#buydiv{
	background-image: url('https://freedesignfile.com/upload/2020/10/Superimposed-black-squares-combination-abstract-background-vector.jpg');
	width:100%;
	margin-top:20px;

}